*{
    padding: 0px;
    margin: 0px;
}

.nav-item a{
    text-decoration: none;
    font-size: 20px;
    padding-right: 20px;
    color: black;
}
.fa{
    color: white;
    padding-right: 10px;
}
.nav-item:hover{
    background-color: #b8b9db;
    border-radius: 5px;
    
}
.hov{
    
    padding-bottom: 10px;
}

.submenu{
    display: none;
    background-color: #b8b9db; 
    
}
.submenu ul li{
    font-size: 18px;
    text-align: center;
     
}
.nav-item:hover .submenu .hov{
    display: block;
    position: absolute;
    margin-top: 10px;
    margin-left:-10px;
    background: #b8b9db;;
}
.nav-item:hover .submenu{
    display: block;
    margin-bottom: 10px;
}
 
.submenu ul li a:hover{
    color: white;
    
}

